* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f7f9fb;
}

.wrapper {
    display: flex;
    height: 88vh;
}

.sidebar {
    width: 24%;
    background: #f2f4f7;
    border-right: 1px solid #ddd;
    padding-top: 10px;
}

.sidebar h2 {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 15px;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.conversation {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.conversation-dot__status{
    position: absolute;
    display: block;
    width : 13px;
    height : 13px;
    border-radius: 50%;
    background-color: #24832c;
    right : 10px;
    bottom: 9px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.conversation__img {
    height: 60px;
    width: 60px;
    padding: 10px;
    object-fit: contain;
    position: relative;
}
.content--active{
    margin: 3px 0 0 0;
    font-size: 1rem;
    color : green;
    font-weight: 500;
}
.content--inactive{
    margin: 3px 0 0 0;
    font-size: 1rem;
    color : var(--text-color);
    font-weight: 500;
}
.conversation__img img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.conversation__content {}

.conversation:hover {
    background-color: #eef3fc;
}

.conversation .title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}

.conversation .preview {
    font-size: 13px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat {
    width: 52%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

.chat-header {
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.chat-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.chat-header small {
    font-size: 13px;
    color: #777;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.date-label {
    text-align: center;
    color: #888;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 3px 12px;
    border-radius: 12px;
    display: inline-block;
    margin: 10px auto;
}

.message-date--sent {
    display: block;
    text-align: right;
}

.message-box {
    display: flex;
    align-items: center;
    max-width: 100%;
    word-break: break-all;
    margin: 10px 0;
}

.message-box.sent {
    justify-content: flex-end;
}

.message-box.received {
    justify-content: flex-start;
}

.message-content {
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    margin-top: 4px;
    line-height: 2rem;
}

.sent .message-content {
    background-color: #e6f0fd;
    color: #333;
    border: 1px solid #cbe1ff;
}

.received .message-content {
    background-color: #f1f1f1;
    color: #333;
}

.deleted {
    color: #007bff;
    border: 1px solid #cde3ff;
    background-color: #f3f8ff;
    font-style: italic;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 8px;
}

.chat-footer {
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    background: #fafafa;
    display: flex;
}

.chat-footer input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.message-container {
    max-width: 80%;
    padding: 5px;
    height: 100%;
}

.message-date {
    color: var(--text-color);
    font-size: 1rem;
}

.chat-footer button {
    margin-left: 10px;
    padding: 8px 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.info-panel {
    width: 24%;
    padding: 20px;
    background: #f7f9fb;
    text-align: center;
}

.info-panel__img {
    height: 100px;
    width: 100px;
    padding: 10px;
    object-fit: contain;
    margin: 0 auto;
}

.info-panel__img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.info-panel h4 {
    font-size: 15px;
    margin: 5px 0;
}

.info-panel p {
    font-size: 1.6rem;
    margin: 6px 0;
}

.tag {
    display: inline-block;
    background-color: #e4f0fd;
    color: #007bff;
    padding: 4px 10px;
    border-radius: 14px;
    font-size: 13px;
    margin-top: 4px;
}


/*no message */
.no-messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    color: #333;
    height : 80%;
}

.no-messages-img {
    max-width: 300px;
    margin: 0 auto 20px;
    display: block;
}

.no-messages-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #002F6C;
}

.no-messages-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.no-messages-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.6rem;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-outline {
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.6rem;
}

.btn-outline:hover {
    background-color: #e6f0ff;
}
