body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    width: 100%;}
  .container{
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    }
  p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    width :auto;}
  
  h2 {
    font-size: 20px; }
  h3{
    font-weight: bolder;
    font-size: 30px;
    color: #0057b5;
  }
   
  .half, .half .container > .row {
    height: 100vh;
    min-height: 900px; }
  
  .half .contents {
    background: #f6f7fc; }
  
  .half .bg {
    width: 60%; }
    @media (max-width: 767.98px) {
      .half .bg {
        width: 100%;
        height: 200px; } }
  
  .half .contents {
    width: 75%; }
    @media (max-width: 767.98px) {
      .half .contents {
        width: 100%; } }
  
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    border-radius: 10px;
    height: 55px;
    background: #efefef; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .half .bg {
    background-size: cover;
    background-position: center; }
  
  .half a {
    text-decoration: underline; }
  
  .half .btn {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px; }
  
  .half .forgot-pass {
    color :#888;
    position: relative;
    top: 2px;
    font-size: 14px; }
  
  .form-block {
    background: #fff;
    padding: 80px;
    max-width: 500px;
    font-size: 15px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .form-block {
        padding: 25px; } } 
    
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }
  .text-uppercase strong{
    font-weight: bold;
  }
  .control--radio .control__indicator {
    border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc; }
  
  .control input:checked ~ .control__indicator {
    background: #0057b5; }
  
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #0057b5; }
  
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none; }
   
  .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .control--checkbox input:checked ~ .control__indicator {
      background-color: #fff; 
      border: 2px solid  #0057b5;; 
  }
  
  .control--checkbox .control__indicator:after {
      content: "";
      position: absolute;
      display: none;
      width: 6px;
      height: 10px;
      border: solid #333;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .control input:checked ~ .control__indicator:after {
      display: block;
  }
  
  .control--checkbox input:disabled ~ .control__indicator {
      background-color: #7e0cf5;
      opacity: 0.2;
  }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7b7b7b;
  }
  
  .btn {
    text-decoration: none !important; }
    .btn a {
      color:#fff
    }

    .icon-fb,
    .icon-gg {
        width: 25px; 
        height: 25px;
        margin-right: 10px; 
    }
    
    .btn-facebook {
        background-color: #173b88;
        color: #fff;
    }
    
    .btn-google {
        background-color: #173b88;
        color: #fff;
    }
  
  
