.container{
    margin-top: 40px;
}
.user__info{
    position: relative;
    display: block;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.2);
}
.user__info-detail{
    width: 100%;
    display: flex;
    align-items: center;
}
.user__detail-avatar{
  
}
    
.user__detail-avatar img{
    border-radius: 50%;
    width: 70px;
    height : 70px;
}
.user__detail-contact{
    display: block;
    padding: 0 15px;
}
.user__detail-name{
    display: block;
    font-size: 1.8rem;
    color : var(--black-color);
    font-weight: 550;

}
.user__detail-email{
    display: block;
    margin-top: 5px;
    font-size: 1.4rem;
    color : var(--text-color);
}
.user__info-status{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__status-created{
    font-size: 1.2rem;
}
.user__status-created span{
    color : var(--blue-color);
}
.user__status-logout{
    display: flex;
    align-items: center;
}
.user__status-logout i {
    font-size: 1.4rem;
    color : var(--blue-color);
    padding: 0 5px;
}
.user__status-logout span{
    font-size: 1.4rem;
    color : var(--blue-color);
}
.user__info-edit{
    position: absolute;
    top : 10px;
    right: 10px;
}
.user__info-edit i {
    color : var(--text-color);
    font-size: 1.6rem;
}
.user__info-edit i:hover{
    cursor: pointer;
    color : var(--blue-color);
}

.user__profile{
    margin-top: 30px;
}
.user__profile-container{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
}
.user__profile-head{
    font-size: 2.2rem;
    margin: 0;
    padding: 15px 0;
    position: relative;
}
.user__profile-head::after{
    content: "";
    width : 100%;
    height : 1px;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    bottom: 0;
    left: 0;
}
.user__profile-description{
    margin-top: 15px;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color : var(--text-color);

}




.job__status-list{
    display: flex;
    justify-content: space-between;
}
.job__status-item{
    padding : 15px 10px;
    border-radius: 5px;
}
.job__status-resumes{
    color : var(--blue-color);
    border: 1px solid var(--blue-color);
}
.job__status-saved{
    --orange :var(--orange-color);
    color : var(--orange);
    border:1px solid var(--orange);

}
.job__status-applied{
    --green : var(--green-color);
    color : var(--green);
    border:1px solid var(--green);
}
.job__status-toltal{
    display: block;
    text-align: center;
    font-size: 4rem;
}
.job__status-title{
    display: block;
    font-size: 1.4rem;
    text-align: center;
}
.section-recommended-jobs{
    margin-top: 40px;
}
.recomended__job-head{
    padding-left: 5px;
    font-size: 2rem;
    margin: 0 0 10px 0;
}
.recomended__job-description{
    padding-left: 5px;
    font-size: 1.5rem;
    color : var(--text-color);
}
.recomended__job-remove{
    color : var(--blue-color);
    text-decoration: none;
}

.recomended__job-list{
    margin-top: 30px;
}
.recomended__job-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 10px;
    min-height: 130px;
}
.recomended__job-item .suggest-company{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}