.job__application{
    margin-top: 10px;
}
.job-saving__head{
    font-size: 2rem;
}
.job-saving__saved-at{
    font-size: 1.6rem;
    color : var(--text-color);
}
.job__saving-item{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height : 80x;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    position: relative;
}
.job__saving-link{
    display: block;
    text-decoration: none;
}
.job__saving-thumb{
    padding: 25px 15px 25px 25px;
}
.job__saving-thumb img{
    border-radius: 5px;
    max-width: 4rem;
    height : 4rem;
    object-fit: contain;
    border: 1px solid rgba(0,0,0,0.1);
    
}
.job__saving-content{
    flex: 1;
    padding: 0 10px;
}
.ls__content-lable{
    text-decoration: none;
    display: block;
    font-size: 2rem;
    color : var(--black-color);
}
.ls__content-company{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 5px;
    color : var(--green-color);
}

.ls__content-detail{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color : var(--blue-color);
    font-size: 1.3rem;
}
.ls__detail-save{
    color : var(--blue-color);
    font-size: 1.6rem;
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    right: 10px;
    text-decoration: none;
}
.ls__detail-save:hover{
    color : var(--text-color);
}

