:root{
    --white-color : white;
    --text-color : rgb(102, 102, 102);
    --black-color : black;
    --border-color : grey;
    --blue-color : #0069db;
}

*{
    box-sizing: border-box;
}

html,body{
    font-size : 62.5%;
    font-family: Roboto,sans-serif;
    margin : 0;
    box-sizing: inherit;
}

.grid{
    max-width : 1400px;
    width : 100%;
    margin : 0 auto;
}
.grid-row{
    width : 100%;
    margin : 0 -10px;
}
.slick__action{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    transform: translateY(-50%);
    border-radius: 50%;
    color : rgba(0,0,0,0.3);
}
.left__icon{
    left : 1%;
}
.right__icon{
    right: 1%;
}
