:root{
    --white-color : white;
    --text-color : rgb(102, 102, 102);
    --black-color : black;
    --border-color : grey;
    --blue-color : rgb(0, 105, 219);
    --orange-color : #f49532;
}

*{
    box-sizing: border-box;
}

html,body{
    font-size : 62.5%;
    font-family: Roboto,sans-serif;
    margin : 0;
    box-sizing: inherit;
}

.grid{
    max-width : 1400px;
    width : 100%;
    margin : 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    width : 100%;
    /* margin : 0 -5px; */

}
.grid__col-4{
    width : 33.33%;
    padding: 0 5px;
}
.grid__col-3{
    width : 25%;
    padding : 0 5px;
}
.grid__col-2{
    width : 16.66%;
    padding: 0 5px;
}
.slick_action__buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left : 0.1%;
    width : 99.9%;
    display: flex;
    justify-content: space-between;
}
.slick__action{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    border: none;
    color : var(--text-color); 
    font-weight: bold;
    font-size: 2.2rem;
    
}
.slick__action:hover{
    color: var(--blue-color) !important;
    border: 1px solid var(--blue-color) ;
}
.left__icon{

}
.right__icon{
}

/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination__item + .pagination__item{
    margin-left: 10px;
}
.pagination__item-link{
    display: block;
    height : 25px;
    min-width: 25px;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 50%;
    color : var(--text-color);
    border : 1px solid rgba(0,0,0,0.3);
}
.pagination__link--active{
    background-color: #f49532;
    color: var(--white-color);
}