:root{
    --white-color : white;
    --text-color : rgb(102, 102, 102);
    --black-color : black;
    --border-color : grey;
    --blue-color : rgb(0, 105, 219);
}

*{
    box-sizing: border-box;
}

html,body{
    font-size : 62.5%;
    font-family: Roboto,sans-serif;
    margin : 0;
    box-sizing: inherit;
}

.grid{
    max-width : 1400px;
    width : 100%;
    margin : 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    width : 100%;
    /* margin : 0 -5px; */

}
.grid__col-4{
    width : 33.33%;
    padding: 0 5px;
}
.grid__col-2{
    width : 16.66%;
    padding: 0 5px;
}
.slick_action__buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left : 0.1%;
    width : 99.9%;
    display: flex;
    justify-content: space-between;
}
.slick__action{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    border: none;
    color : var(--text-color); 
    font-weight: bold;
    font-size: 2.2rem;
    
}
.slick__action:hover{
    color: var(--blue-color) !important;
    border: 1px solid var(--blue-color) ;
}
.left__icon{

}
.right__icon{
}
