.header__container{
    position: relative;
    margin-bottom: 40px;
}
.header__banner{
    display: block;
    width: 100%;
}
.header__img{
    width: 100%;
    min-height: 380px;
    background-position-x:  center;
    background-position: center;
    background-size: cover;
}
.header__title{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.header__lable{
    text-align: center;
    font-size: 3rem;
    color : var(--orange-color);
    margin-bottom: 10px;
}
.header__content{
    display: block;
    font-size: 1.6rem;
    color : var(--text-color);
    text-align: center;
    line-height: 2rem;
}
.header__nav{
    padding: 10px;
}
.navigation__blog{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav__list{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav__item{
    color: var(--text-color);
}
.nav__item-link:hover{
    color : var(--orange-color);
}
.nav__item + .nav__item{
    margin-left: 20px;
}
.nav__item-link{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    padding : 10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 20px;
}

/* container */
.container{
    margin-bottom: 40px;
}
.featured__container{
    display: flex;
    gap: 20px;
}
.left__col{
    display: flex;
    flex-direction: column;
}
.right__col{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.featured-blog__left{
    height: 100%;
    background-color: #f4f5f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.featured-blog__right{
    background-color: #f4f5f6;
    border-radius: 5px;
    
}
.featured-blog__left:hover,.featured-blog__right:hover{
    border: 1px solid var(--green-color);
}
.featured-blog__right .featured-item__thumb{
    height: 100%;
    flex: 1;
}
.featured__blog-head{
    display: block;
    margin: 20px 0 30px;

}
.featured-blog__title,.career__title{
    font-size: 3rem;
    padding-left: 5px;
    color: #263a4d;
}
/* thumbnail */
.featured-item__thumb{
    display: flex;
    max-height : 381px;
    width: 100%;
}
.featured__thumb-link{
    text-decoration: none;
    flex: 1;
}
.featured__thumb-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: contain;
}

/* featured__detail */
.featured__detail{
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.featured-blog__right{
    display: flex;
    flex-direction: row-reverse;
}
.featured__thumb-img-right{
    max-width: 200px;
    height: 100%;
    object-fit: cover;
    /* background-size: contain; */
    background-position: center;
}
.featured-content__name{
    font-size: 1.3rem;
}
.featured-name__link{
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color : var(--green-color);
    font-weight: 540;
}
.featured-content__title{
    font-size: 1.8rem;
    color : #263a4d;
    padding: 15px 0;
}
.featured-content__title h3{
    margin: 0;
}
.featured-content__title-right{
    font-size: 1.2rem;
}
.featured-content__created{
    display: flex; 
    color: var(--text-color);
    font-size: 1.2rem;
    align-items: center;
}
.featured-content__created span{
    margin-right: 5px;
}  
.content__dot{
    display: block;
    --size : 3px;
    width: var(--size);
    height : var(--size);
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 5px;
} 
.featured-content__description{
    display: block;
    margin-top: 20px;
    font-size: 1.3rem;
    color : #263a4d;
    line-height: 2.3rem;
}
.featured-content__see-more{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.featured-content__see-more a{
    text-decoration: none;
    color : var(--green-color);
    font-size: 1.5rem;
}
.featured-content__description-right{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* carrer handbook */
.career__head{
    display: block;
    margin : 20px 0 30px;
}
.career__thumbnail{
    width: 100%;
}
.career__thumbnail-img{
    width: 100%;
    max-height: 200px;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}
.career__content{
    display: block;
    padding : 10px;
}
