body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    width: 100%;
}

.container {
    background: #fff;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    color: black;

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


p {
    color: #b3b3b3;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", sans-serif;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.h3 {
    font-weight: bolder;
    font-size: 30px;
    color: #0057b5;
}

.border {
    border: 1px solid #D7D7DB !important;
}

.profile-0-2-9 {
    font-size: 18px;
    word-break: break-word;
    text-align: center;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.navbar-nav .nav-link {
    background-color: #f0f0f0;
    border-left: 2px solid #0057b5;
    margin-top: 20px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: #333;
}

.nav-link:hover,
.nav-item.active .nav-link {
    background-color: #f0f0f0;
}

.title {
    color: #0057b5;
    font-size: 18px;
    font-weight: bold;
}
.title-1{
    font-size: 18px;
    font-weight: bold;
}

.small {
    font-size: 14px;
    color: #666;
}

.profile-menu {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-light {
    background-color: #ddd !important;
}
.font-weight-bolder {
    font-weight: bolder !important;
}
.fluent-form-control[type="text"],.fluent-form-control[type="password"] {
    height: 46px;
}
.fluent-checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.fluent-checkbox input[type="checkbox"] {
    display: none; 
}

.fluent-checkbox .checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    transition: all 0.3s ease;
}


.fluent-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #007bff;
    border-color: #007bff;
}


.fluent-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
}
