.nav{
    background-color: #0E1225;
}
.nav__user {
    border: solid 1.1px white;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.login-box {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-left,
.login-right {
    padding: 20px;
}

.login-left {
    width: 50%;
    border-right: 1px solid #ddd;
}

.login-left h2 {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.login-left form {
    display: flex;
    flex-direction: column;
}

.login-left input[type="email"],
.login-left input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f7ff;
}

.login-left label {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.login-left button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-left a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.login-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-right h3 {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.register-btn {
    padding: 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-right p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.login-right hr {
    width: 80%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.login-right h4 {
    font-size: 16px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.login-right ul {
    list-style: none;
    font-size: 14px;
    color: #666;
}

.login-right ul li {
    margin-bottom: 5px;
}