.nav{
    background-color: #0E1225;
}
.nav__user {
    border: solid 1.1px white;
}
/* container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.register-box {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-box h2 {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.register-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box input[type="email"],
.register-box input[type="password"],
.register-box input[type="text"],
.register-box input[type="tel"],
.register-box select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f7ff;
}

.register-box small {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
    display: block;
    text-align: left;
}

.register-box label {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.register-box label input {
    margin-right: 10px;
}

.register-box h3, .register-box h4 {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 10px;
    text-align: left;
}

.register-box button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.register-box .policy-text {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    text-align: left;
}

.register-box .policy-text a {
    color: #007bff;
    text-decoration: none;
}