#table-container{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    padding : 10px;
    font-size: 2rem;    
    
}
.employer_management{
    background-color: #f5f5f5;
    max-height: calc(100% - 26px - 108px);
    padding: 0 10px;
    overflow-y: auto;
}
.employer__add-list{
    font-size: 1.4rem;
    color : var(--text-color);
}
.list__add-link{
    font-size: 1.3rem;
    color : var(--blue-color);
    text-decoration: none;
}
.employer_management table{
    width : 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.company__name{
    color : var(--green-color);
}
.company_status{
    color : rgb(222,0,0);
}



/* form add employer */
#addUserForm{
    width: 100%;
    max-width: 900px;
    display: none;
    padding : 10px;
}

.form__address-city{
    display: flex;
}
.form__item select{
    font-size: 1.6rem;
    padding: 10px;
    flex: 1;
}
.form__item select + select{
    margin-left: 10px;
}
.address__detail{
    margin-top: 10px;
}
