/* for id */
#table-container{
    width : 100vw;
    background-color: var(--white-color);
    padding : 10px;
}
#table-container h3{
    font-size: 2.35rem;
    margin: 22px 0;
}

/* for class */
.candidate__management{
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    max-height: calc(100% - 110px);
    overflow-y: auto;
}
/* search */
.candidate__search{
    width: 80%;
    display: flex;
    align-items: center;
}




/* table */
.candidate__management table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.candidate__name{
    color : blue;
}
.candidate__company{
    color : var(--green-color);
}
.candidate_status{
    color : rgb(222,0,0);
}

/* form edit candidate */
#editCandidateForm{
    width: 100%;
    max-width: 900px;
    display: none;
    padding : 10px;
}

.form__item select{
    font-size: 1.6rem;
    padding: 10px;
    flex: 1;
}
.form__item select + select{
    margin-left: 10px;
}

#editCandidateForm .status{
    min-width: 150px;
    text-align: center;
    outline: none;
    font-weight: 600;
    color : rgb(255, 83, 83);
}
.form__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__back{
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    color : var(--blue-color);
}
.form__submit{
    background-color: var(--blue-color);
    color : var(--white-color);
}
.form__submit:hover{
    background-color: rgb(1, 115, 236);
    color : #f5f5f5;
}

